<div class="user-details">
  <h1> Certifications </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="HR-PB" src="{{ "/assets/img/Hackerrank-Python Basic.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hackerrank-Python Basic Certificate </h3>
    <p>2021 <br> Python </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="HR-SQL" src="{{ "/assets/img/Hackerrank-SQL.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hackerrank-SQL Certificate </h3>
    <p>2021 <br> Hackerrank-Python Basic Certificate </p>
  </div>
</div>
