<div class="user-details">
  <h1> Featured Projects </h1>
  <img alt="mountains" src="{{ "/assets/img/leeds.jpeg" | prepend: site.baseurl }}" style="width:150px;height:150px;"/>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Spotify.svg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting Spotify Top 100 </h3>
    <ul>
      <li> R </li>
    </ul>
    <p>MSBX <br> Our team worked with data pulled from Spotify charts to analyse the possibility of predicting future top 100 songs</p>
    <a class="project-link" href="https://github.com/Adrija-B/R-Project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/HP1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SQL Project </h3>
    <ul>
      <li> SQL </li>
      <li> Tableau </li>
      <li> Python </li>
    </ul>
    <p>Worked with an fabricated Harry Potter Dataset to make a simple SQL Database</p>
    <a class="project-link" href="https://github.com/Adrija-B/SQL-Project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Seagate2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Seagate Project </h3>
    <ul>
      <li> Project</li>
    </ul>
    <p>Coming Soon</p>
    <a class="project-link" href="https://github.com/Adrija-B/R-Project">Check it out</a>
  </div>
</div>
